* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(2, 104, 115);
  background: linear-gradient(90deg, rgba(196,0,148,1) 0%, rgba(218,20,204,1) 35%, rgba(0,255,155,1) 100%);
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}  */